@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
  font-family: "Inter", sans-serif;
  color: white;
}

header{
  padding: 24px 0;
}
.navbar{
  max-width: 1040px;  /* My Screen Resulation is 1280px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar span{
  background: linear-gradient(90deg, #ff4ecd, #ffcc00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.menu{
  display: flex;
  gap: 20px;
  list-style: none;
}
.subscribe_button{
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background: linear-gradient( 60deg,#df39d4,#7920cd);
  transform: translateY(-3px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  
}
