@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
  font-family: "Inter", sans-serif;
  color: white;
}

header{
  padding: 24px 0;
}
.navbar{
  max-width: 1040px;  /* My Screen Resulation is 1280px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2{
  font-size: 35px;
}
.navbar span{
  background: linear-gradient(90deg, #ff4ecd, #ffcc00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.menu{
  display: flex;
  gap: 20px;
  list-style: none;
}
 
 
.subscribe_button{
  border: none;
  padding: 12px 18px 12px 25px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: linear-gradient(-138deg, #8500c6, #ea57b9, #fff300);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  cursor: pointer;
  
}
.subscribe_button:hover{
  background: linear-gradient( 60deg,#f15be7,#8927e6);
}

.hamburger_icon{
  display: none;
  width: 25px;
  cursor: pointer;
}


/*   Hero Section  */

.hero_Section {
  max-width: 100%;
  min-height: 100vh;
  background: url("./B13-A02-TechWave/assets/hero-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 50px 0px;
}

.hero_container {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.microphone_container {
  display: flex;
  justify-content: center;
}

.img_btn_container {
  position: relative;
  width: 300px;
  height: 300px;
}

.hero_circle {
  width: 100%;
  height: 100%;
}


.hero_mic {
  position: absolute;
  width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.btn_new{
  position: absolute;
  top: 15px;
  right: 28px;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  background: #1db954;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: default;
  animation: newPulse 1.5s ease-in-out infinite;
}

/* Animation */

@keyframes newPulse {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.10); 
  }
  100%{
    transform: scale(1);
  }
}

.hero_text_container {
  text-align: center;
  color: white;
  max-width: 700px;
}

.hero_text_container h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero_text_container p {
  font-size: 14px;
  color: rgb(177, 171, 171);
  margin-bottom: 30px;
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn_container button {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  gap: 8px;
}

.spotify_btn {
  background: linear-gradient(90deg,#ffcc00, #ff4ecd, #7b5cff);
  border: none;
  color: white;
}
.spotify_btn:hover {
  background: linear-gradient(120deg, #ff4ecd, #7a5cffc1, #ffcc00);
  color: white;
}
.Subscribe_btn {
  background-color: #1a0b2e15;
  color: #00FF88;
  border: 1.5px solid #00FF88;
}
.Subscribe_btn:hover {
  background-color: #430d8e5e;

}
/*   About Section  */
.About_container{
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 50px;
}
.About_text{
  text-align: center;
}
.About_text h1{
  margin-bottom: 15px;
}
.About_text P{
  font-size: 14px;
  font-weight: 300;
  color: rgb(177, 171, 171);
  line-height: 25px;
}

.border_width{
  max-width: 1040px;
  border: 1px solid rgba(85, 81, 78, 0.491);
  margin: 70px 0;
} 

.about_card_container{
  max-width: 1040px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around ;
}

.ab_card{
  text-align: center;
  max-width: 240px;
  margin-bottom: 100px;
}

.ab_card h1{
  color: #00FF88;
  margin-bottom: 10px;
}

.ab_card p{
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

/* Techwave Section */


.techwave_title {
  text-align: center;
  margin-bottom: 50px;
}

.techwave_title h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
}


.techwave_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1040px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.techwave_container img {
  width: 35px;
  margin-bottom: 16px;
}

.techwave_container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.techwave_container p {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(211, 199, 199);
}

.grid_box_1 {
  grid-column: span 1; 
  grid-row: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 55px 25px;
}

.grid_box_2 {
  grid-column: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}

.grid_box_3 {
  grid-column: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}

.grid_box_4 {
  grid-column: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}

.grid_box_5 {
  grid-column: span 1;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}
/* Featured Section */



.Featured_section h1{
  text-align: center;
  margin-bottom: 25px ;
}

.Featured_Container{
  max-width: 1040px;
  margin: 0 auto;
  margin-bottom:50px ;
  display: flex;
  gap: 20px;
}

.Featured_Content{
  max-width: 350px;
  background-color: #3a18673d;
  border-radius: 15px;
}
.Featured_Content iframe{
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.future_cardText{
  padding: 20px;
}

.Featured_Content h3{
  font-size: 15px;
}

.Featured_Content p{
  font-size: 13px;
  font-weight: 200px;
  color: rgb(189, 189, 184);
  margin: 12px 0;
}

.future_cardText span{
  color: #00FF88;
}

.future_cardText span img{
  margin-right: 6px;
}

/* Host Section  */


.host_container {
    padding: 80px 5%;
    text-align: center;
}

.host_title {
    font-size: 36px;
    color: white;
    margin-bottom: 40px;
}

.host_card {
  display: flex;
  align-items: center;
  background-color: #3a18673d;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px; 
  padding: 30px;
  max-width: 1040px;
  margin: 0 auto;
  gap: 40px;
  text-align: left;
}

 
.host_image img {
    width: 200px;
    height: 200px;
    border-radius: 50%; 
    object-fit: cover;
}

.host_content h3 {
    font-size: 28px;
    color: white;
    margin-bottom: 15px;
}

.host_content p {
    font-size: 14px;
    color: #b3b3b3;
    line-height: 1.4;
    margin-bottom: 25px;
}

.social_links {
    display: flex;
    gap: 15px;
}

.social_links a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
/* Footer Section */

footer{
  background-image: url("./B13-A02-TechWave/assets/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}
.fotter_TechWave span{
  background: linear-gradient(90deg, #ff4ecd, #ffcc00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.Fotter_Container h1 {
  font-size: 50px;

}

.Fotter_Container{
  max-width: 1040px;
  margin: 0 auto;
  text-align: center;
}

.Footer_social_Links{
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
  

}

/* Responsiv for small device 576px  */

@media (max-width: 576px) {
   .navbar{
    justify-content: space-between;
    padding: 0 30px;
  }

  .hamburger_icon{
    display: block;
  }

  .menu,.subscribe_button{
    display: none;
  }

  /* Hero */
  br{display: none;}

  .hero_Section{
    min-height: auto;
    padding: 80px 0 0px;
  }

  .hero_container{
    max-width: 100%;
    padding: 0 20px;
    gap: 30px;
 
  }
  .hero_circle {
    width: 80%;
    height: 80%;
    margin-left: 40px;
}
 .hero_mic {
    width: 90px;
    top: 40%;
    left: 53%;
}
  .hero_text_container h1{
    font-size: 42px;
  }

  .btn_container {
    flex-direction: column;
    padding: 0 50px;
  }

  .btn_container button{
    width: 100%;
    justify-content: center;
  }

  /* About cards */
  .About_text P{
    padding: 0 30px;
  }

  .about_card_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 0 23px;
    margin-bottom: 50px;
  }

  .ab_card{
    margin-bottom: 0;
  }


  /* TechWave */
.techwave_title h1 {
    font-size: 30px;
}
  .techwave_container{
    grid-template-columns: 1fr;
    padding: 0 15px 0 15px;
  }
  .grid_box_1, .grid_box_2, .grid_box_3, .grid_box_4, .grid_box_5{
    grid-column: span 1;
    grid-row: span 1;
  }

  /* Featured */
  .Featured_Container{
    flex-direction: column;
    padding: 0 20px;
  }

  .Featured_Content{
    max-width: 100%;
  }

  /* Host */
  .host_container {
    padding: 40px 15px 0 15px;
    text-align: center;
    margin-bottom: 50px;
}
  .host_card{
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .host_content{
    text-align: center;
  }

  .social_links{
    justify-content: center;
  }

  /* Footer */
 .Footer_social_Links{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
}

.Footer_social_Links div{
  max-width: 100%;
}

}
