@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #1A0B2E;
  font-family: "Inter", sans-serif;
  color: white;
}

header{
  padding: 24px 0;
}
.navbar{
  max-width: 1040px;  /* My Screen Resulation is 1280px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar span{
  background: linear-gradient(90deg, #ff4ecd, #ffcc00);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

}
.menu{
  display: flex;
  gap: 20px;
  list-style: none;
}
.subscribe_button{
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  background: linear-gradient( 60deg,#df39d4,#7920cd);
  transform: translateY(-3px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; 
  
}

/*   Hero Section  */

.hero_Section {
  max-width: 100%;
  min-height: 100vh;
  background: url("./B13-A02-TechWave/assets/hero-bg.png") no-repeat center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 0px 50px 0px;
}

.hero_container {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.microphone_container {
  display: flex;
  justify-content: center;
}

.img_btn_container {
  position: relative;
  width: 300px;
  height: 300px;
}

.hero_circle {
  width: 100%;
  height: 100%;
}

.hero_mic {
  position: absolute;
  width: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn_new {
  position: absolute;
  top: 15px;
  right: 28px;
  background-color: #1db954;
  border: none;
  color: #000000;
  padding: 6px 14px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 20px;
}


.hero_text_container {
  text-align: center;
  color: #ffffff;
  max-width: 700px;
}

.hero_text_container h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 16px;
}

.hero_text_container p {
  font-size: 14px;
  color: rgb(177, 171, 171);
  margin-bottom: 30px;
}


.btn_container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn_container button {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  gap: 8px;
}


.spotify_btn {
  background: linear-gradient(90deg, #ff4ecd, #7b5cff);
  border: none;
  color: white;
}

.Subscribe_btn {
  background-color: #1a0b2e15;
  color: #00FF88;
  border: 1.5px solid #00FF88;
}

/*   About Section  */
.About_container{
  max-width: 1040px;
  margin: 0 auto;
  margin-top: 50px;

}
.About_text{
  text-align: center;

}
.About_text h1{
  margin-bottom: 15px;
}
.About_text P{
  font-size: 14px;
  font-weight: 300;
  color: rgb(177, 171, 171);
  line-height: 25px;
}
.border_width{
  max-width: 1040px;
  border: 1px solid rgba(85, 81, 78, 0.491);
  margin: 70px 0;
} 

.about_card_container{
  max-width: 1040px;
  display: flex;
  margin: 0 auto;
  justify-content: space-around ;
  
  
}
.ab_card{
  text-align: center;
  max-width: 240px;
  margin-bottom: 100px;
 
}
.ab_card h1{
  color: #00FF88;
  margin-bottom: 10px;
  
}
.ab_card p{
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}
/* Techwave Section */
.techwave_title {
  text-align: center;
  margin-bottom: 50px;
}

.techwave_title h1 {
  font-size: 36px;
  font-weight: 700;
  color: white;
}


.techwave_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  max-width: 1040px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.techwave_container img {
  width: 35px;
  margin-bottom: 16px;
}

.techwave_container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.techwave_container p {
  font-size: 14px;
  line-height: 1.4;
  color: rgb(211, 199, 199);
}

.grid_box_1 {
  grid-column: span 1; 
  grid-row: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 55px 25px;
}

.grid_box_2 {
  grid-column: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}

.grid_box_3 {
  grid-column: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}

.grid_box_4 {
  grid-column: span 2;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}

.grid_box_5 {
  grid-column: span 1;
  background-color: #3a18673d;
  border-radius: 15px;
  padding: 30px 25px;
}
/*  */